[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{messages.*,messages,org.codehaus.groovy.runtime.ExtensionModule,spring.schemas,spring.handlers,*.properties}]
indent_style=space
indent_size=4

[{*.vm,*.vsl,*.ft}]
indent_style=space
indent_size=4

[{*.gson,*.gradle,*.groovy,*.gdsl,*.gy,*.gant}]
indent_style=space
indent_size=4

