<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Person-Status Add</title>
</head>
<body>
<section layout:fragment="header">
  <h1>Person-Status Registration</h1>
  <ol class="breadcrumb">
    <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Person-Status Add</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Form</h3>
      <div class="box-tools pull-right">
        <a th:href="@{/{urlPath}(urlPath=${urlPath})}" type="button" class="btn btn-box-tool"><i
          class="fa fa-list-ul"></i></a>
      </div>
    </div>
    <form data-toggle="validator" role="form" th:object="${data}"
          th:action="@{/__${urlPath}__/save}" method="post">
      <div class="box-body">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <input type="hidden" th:field="*{createdBy}"/>
        <input type="hidden" th:field="*{createdOn}"/>
        <input type="hidden" th:field="*{updatedBy}"/>
        <input type="hidden" th:field="*{updatedOn}"/>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" required="true" class="form-control" th:field="*{name}" id="name"/>
        </div>
        <div class="form-group">
          <label for="colorCode">Travel History?</label>
          <select th:field="*{colorCode}" id="colorCode" class="form-control">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="aqua">Aqua</option>
            <option value="light-blue">Light Blue</option>
            <option value="navy">Navy</option>
            <option value="teal">Teal</option>
          </select>
        </div>
        <div class="form-group">
          <label for="rank">Rank</label>
          <input type="number" required="true" class="form-control" th:field="*{rank}" id="rank"/>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>