<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Person-Status</title>
</head>
<body>
<section layout:fragment="header">
  <h1>Person-Status</h1>
  <ol class="breadcrumb">
    <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Person-Status</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Lists</h3>
      <div class="box-tools pull-right">
        <a th:href="@{/{urlPath}/add(urlPath=${urlPath})}" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
        <br clear="all"/>
      </div>
    </div>
    <div class="box-body no-padding">
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Color Code</th>
          <th>Rank</th>
          <th>Action</th>
        </tr>
        <tr th:each="row : ${list}">
          <td th:text="${row.id}"></td>
          <td th:text="${row.name}"></td>
          <td th:text="${row.colorCode}"></td>
          <td th:text="${row.rank}"></td>
          <td>
            <a th:href="@{/{urlPath}/edit/{rowId}(urlPath=${urlPath}, rowId=${row.id})}"><button class="btn btn-default">Edit</button></a> -
            <form th:object="${row}" th:action="@{/{urlPath}/delete/{rowId}(urlPath=${urlPath}, rowId=${row.id})}" th:method="delete" style="display: inline" onsubmit="return (confirm('Sure your want to delete this entry?'))">
              <input class="btn btn-danger" style="cursor: pointer" type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a th:href="@{/{urlPath}/{page}(urlPath=${urlPath},page=1)}">First</a></li>
        <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}"
            th:class="${p == currentIndex} ? 'active' : ''">
          <a th:href="@{/{urlPath}/{page}(urlPath=${urlPath},page=${p})}" th:text="${p}"></a>
        </li>
        <li><a th:href="@{/{urlPath}/{page}(urlPath=${urlPath},page=${endIndex})}">Last</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>