<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="treeview" th:classappend="${#httpServletRequest.requestURI.startsWith('/dashboard')? 'active':''}">
      <a th:href="@{/}">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
      </a>
    </li>
    <li class="treeview" th:classappend="${#httpServletRequest.requestURI.startsWith('/customers')? 'active':''}">
      <a href="#">
        <i class="fa fa-folder"></i>
        <span>Registration</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li th:classappend="${#httpServletRequest.requestURI.startsWith('/person/add')? 'active':''}"><a th:href="@{/person/add}"><i class="fa fa-circle-o"></i>Add Jamati-Member</a></li>
        <li sec:authorize="hasAuthority('ADMIN')" th:classappend="${#httpServletRequest.requestURI.startsWith('/person')? 'active':''}"><a th:href="@{/person}"><i class="fa fa-circle-o"></i> All Jamati-Members</a></li>
        <li sec:authorize="!hasAuthority('ADMIN')" th:classappend="${#httpServletRequest.requestURI.startsWith('/person')? 'active':''}"><a th:href="@{/person/jk}"><i class="fa fa-circle-o"></i> Jamati-Members</a></li>
        <li><a th:href="@{/jamatkhana}" sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-circle-o"></i>Council</a></li>
      </ul>
    </li>
    <li class="treeview" th:classappend="${#httpServletRequest.requestURI.startsWith('/customers')? 'active':''}"  sec:authorize="hasAuthority('ADMIN')">
      <a href="#">
        <i class="fa fa-folder"></i>
        <span>Reports</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/report/forms/dump}"><i class="fa fa-circle-o"></i>All Data Report</a></li>
        <li sec:authorize="hasAuthority('REPORT')"><a th:href="@{/user/report/forms/dump}"><i class="fa fa-circle-o"></i>Council Report</a></li>
        <li sec:authorize="hasAuthority('REPORT')"><a th:href="@{/user/report/forms/all/dump}"><i class="fa fa-circle-o"></i>My Assigned Councils Report</a></li>
      </ul>
    </li>
    <li class="treeview"
        th:classappend="${#httpServletRequest.requestURI.startsWith('/users')? 'active':''}"
        sec:authorize="hasAuthority('ADMIN')">
      <a th:href="@{/users}">
        <i class="fa fa-user" ></i> <span>Users Management</span>
      </a>
    </li>
  </ul>
</section>
<!-- /.sidebar -->