<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Jamati-Member Registration</title>
</head>
<body>
<section layout:fragment="header">
  <h1>Jamati-Member Registration</h1>
  <ol class="breadcrumb">
    <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Jamati-Member Registration</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Form</h3>
      <div class="box-tools pull-right">
        <a th:href="@{/{urlPath}(urlPath=${urlPath})}" type="button" class="btn btn-box-tool"><i
          class="fa fa-list-ul"></i></a>
      </div>
    </div>
    <form data-toggle="validator" role="form" th:object="${data}"
          th:action="@{/__${urlPath}__/save}" method="post" id="myform">
      <div class="box-body">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <input type="hidden" th:field="*{createdBy}"/>
        <input type="hidden" th:field="*{createdOn}"/>
        <input type="hidden" th:field="*{createdDate}"/>

        <div class="form-group">
          <label for="cnic">CNIC</label>
          <input type="text" required="true" class="form-control" th:field="*{cnic}" pattern="(^\d{5}-\d{7}-\d{1}$)|(^o[a-zA-Z0-9-]{0,17}$)" placeholder="12345-1234567-1"
                 id="cnic" title="This is an error message" data-error="CNIC should be of format 12345-1234567-1"/>
          <p class="text-danger" th:if="${#fields.hasErrors('cnic')}"
             th:errors="*{cnic}"></p>
          <p class="text-danger" th:if="${cnicError} != null"
             th:text="${cnicError}"></p>
          <div class="help-block with-errors"></div>
          <p class="text-danger" id="cnicErrorText" hidden="true"></p>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" required="true" class="form-control" th:field="*{name}" maxlength="30" minlength="3"
                 placeholder="Enter Name" id="name" data-error="Name should be between 4 and 30 characters."/>
          <p class="text-danger" th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select th:field="*{gender}" id="gender" class="form-control">
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('gender')}"
             th:errors="*{gender}"></p>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Date Of Birth</label>
          <input type="text" required="true" class="form-control" th:field="*{dateOfBirth}"
                 id="dateOfBirth" placeholder="dd/mm/yyyy"/>
          <p class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
             th:errors="*{dateOfBirth}"></p>
        </div>
        <div class="form-group">
          <label for="residentialAddress">Residential Address</label>
          <input type="text" placeholder="Residential Address" required="true" class="form-control" th:field="*{residentialAddress}" id="residentialAddress" maxlength="255" data-error="Address Length should be Between 0-255"/>
          <p class="text-danger" th:if="${#fields.hasErrors('residentialAddress')}" th:errors="*{residentialAddress}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input type="text" placeholder="Contact Number" required="true" class="form-control" th:field="*{contactNumber}" id="contactNumber" pattern="^\d{4}-\d{7}|\d{3}-\d{8}$" data-error="Contact Number should be of format 1234-1234567 or 123-12345678"/>
          <p class="text-danger" th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="jk">Jamatkhana</label>
          <select th:field="*{jamatkhana}" id="jk" class="form-control">
            <option th:each="jamatkhana : ${jks}"
                    th:value="${jamatkhana.id}"
                    th:text="${jamatkhana.name}">
            </option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('jamatkhana')}"
             th:errors="*{jamatkhana}"></p>
        </div>

        <div class="form-group">
          <label for="travelHistory">Travel History?</label>
          <select th:field="*{travelHistory}" id="travelHistory" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('travelHistory')}"
             th:errors="*{travelHistory}"></p>
        </div>
        <div class="form-group">
          <label for="contactHistory">Contact History?</label>
          <select th:field="*{contactHistory}" id="contactHistory" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('contactHistory')}"
             th:errors="*{contactHistory}"></p>
        </div>

        <div class="form-group">
          <label for="fever">Fever?</label>
          <select th:field="*{fever}" id="fever" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('fever')}"
             th:errors="*{fever}"></p>
        </div>
        <div class="form-group">
          <label for="cough">Cough?</label>
          <select th:field="*{cough}" id="cough" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('cough')}"
             th:errors="*{cough}"></p>
        </div>
        <div class="form-group">
          <label for="shortnessOfBreath">shortnessOfBreath?</label>
          <select th:field="*{shortnessOfBreath}" id="shortnessOfBreath" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('shortnessOfBreath')}"
             th:errors="*{shortnessOfBreath}"></p>
        </div>
        <div class="form-group">
          <label for="suspectStable">Suspect Stable? (Fever/Cough without shortness of breath)</label>
          <select th:field="*{suspectStable}" id="suspectStable" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('suspectStable')}"
             th:errors="*{suspectStable}"></p>
        </div>
        <div class="form-group">
          <label for="suspectUnstable">Suspect Unstable? (Fever/Cough without shortness of breath)</label>
          <select th:field="*{suspectUnstable}" id="suspectUnstable" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('suspectUnstable')}"
             th:errors="*{suspectUnstable}"></p>
        </div>
        <div class="form-group">
          <label for="isolationAtHome">Isolation At Home?</label>
          <select th:field="*{isolationAtHome}" id="isolationAtHome" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('isolationAtHome')}"
             th:errors="*{isolationAtHome}"></p>
        </div>
        <div class="form-group">
          <label for="referToHospital">Refer To Hospital?</label>
          <select th:field="*{referToHospital}" id="referToHospital" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('referToHospital')}"
             th:errors="*{referToHospital}"></p>
        </div>

      </div>
      <div class="box-footer">
        <button id="submit" type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<script layout:fragment="custom-script" th:inline="javascript">

  $(document).ready(function () {
    $('#myform').validator()
  });

  $(document).ready(function() {

    var cnicMaskOptions = {
      placeholder: "_____-_______-_",
      onKeyPress: function(cep, e, field, options) {
        var masks = ['Z00000-0000000-0', 'oAAAAAAAAAAAAAA'];
        var toApplyMask = cep.startsWith("o") ? masks[1] : masks[0];
        $("#cnic").mask(toApplyMask, cnicMaskOptions);
      },
      translation: {
        'Z': {
          pattern: /[o]/, optional: true
        }
      }
    };

    $('#cnic').mask('Z00000-0000000-0', cnicMaskOptions);
    $('#contactNumber').mask('000Z-0000000Z', {placeholder: "____-_______", translation: {
        'Z': {
          pattern: /[0-9]/, optional: true
        }
    }});
    $("#dateOfBirth").mask('00/00/0000');

    var date = new Date();

    $("#dateOfBirth").datepicker({
      format: "dd/mm/yyyy",
      startView: 3,
      todayHighlight: true,
      endDate: "0d",
      startDate: '-120y'
    });

    $('#myform').on('submit', function(e) {
      $('#submit').attr('disabled', true);
    });

    $("#cnic").on('blur', function() {
      var e = $(this);
      var cnicNumber = e.val();
      var pattern = e.attr('pattern');
      var regex = new RegExp(pattern);
      var isCnicValid = regex.test(cnicNumber);
      if (isCnicValid) {
        $.ajax({
          url: "cnic",
          type: "get", //send it through get method
          data: {
            cnic: cnicNumber
          },
          success: function(response) {
            var size = response.length;
            var sameId = 0;
            var documentId = $("#id").val();
            var person;
            response.forEach(function(item) {
              if(item.id.toString() === documentId) {
                sameId++;
              } else {
                person = item;
              }
            });

            var submitButton = $("#submit");
            var cnicErrorText = $("#cnicErrorText")
            if(size-sameId > 0) {
              submitButton.attr('disabled', true);
              cnicErrorText.attr('hidden', false);
              cnicErrorText.text("Person Exist with Form # " + person.id + " Name: " + person.personName + " Jamatkhana: " + person.jamatkhana.name);
            } else {
              submitButton.attr('disabled', false);
              cnicErrorText.attr('hidden', true);
            }
          }
        })
      }
    });

  });
  // https://stackoverflow.com/questions/48538692/thymeleaf-checkboxes-with-objects-list-from-database
</script>
</body>
</html>