<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Jamati-Member Registration</title>
</head>
<body>
<section layout:fragment="header">
  <h1>Jamati-Member Registration</h1>
  <ol class="breadcrumb">
    <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Jamati-Member Registration</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Form</h3>
      <div class="box-tools pull-right">
        <a th:href="@{/{urlPath}(urlPath=${urlPath})}" type="button" class="btn btn-box-tool"><i
          class="fa fa-list-ul"></i></a>
      </div>
    </div>
    <form data-toggle="validator" role="form" th:object="${data}"
          th:action="@{/__${urlPath}__/save}" method="post" id="myform">
      <div class="box-body">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <input type="hidden" th:field="*{createdBy}"/>
        <input type="hidden" th:field="*{createdOn}"/>
        <input type="hidden" th:field="*{createdDate}"/>

        <div class="form-group">
          <label for="jk">Local Council</label>
          <select th:field="*{jamatkhana}" id="jk" class="form-control">
            <option th:each="jamatkhana : ${jks}"
                    th:value="${jamatkhana.id}"
                    th:text="${jamatkhana.name}">
            </option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('jamatkhana')}"
             th:errors="*{jamatkhana}"></p>
        </div>
        <div class="form-group">
          <label for="jamatkhanaName">Jamatkhana Name</label>
          <input type="text" required="true" class="form-control" th:field="*{jamatkhanaName}" maxlength="30" minlength="3"
                 placeholder="Enter Jamatkhana Name" id="jamatkhanaName" data-error="Jamatkhana Name should be between 4 and 30 characters."/>
          <p class="text-danger" th:if="${#fields.hasErrors('jamatkhanaName')}"
             th:errors="*{jamatkhanaName}"></p>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" required="true" class="form-control" th:field="*{name}" maxlength="30" minlength="3"
                 placeholder="Enter Name" id="name" data-error="Name should be between 4 and 30 characters."/>
          <p class="text-danger" th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select th:field="*{gender}" id="gender" class="form-control">
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('gender')}"
             th:errors="*{gender}"></p>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" placeholder="Age" required="true" class="form-control" th:field="*{age}" id="age" max="120" min="0" data-error="Age should be between 0-120"/>
          <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="residentialAddress">Residential Address</label>
          <input type="text" placeholder="Residential Address" required="true" class="form-control" th:field="*{residentialAddress}" id="residentialAddress" maxlength="255" data-error="Address Length should be Between 0-255"/>
          <p class="text-danger" th:if="${#fields.hasErrors('residentialAddress')}" th:errors="*{residentialAddress}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input type="text" placeholder="Contact Number" required="true" class="form-control" th:field="*{contactNumber}" id="contactNumber" pattern="^\d{4}-\d{7}|\d{3}-\d{8}$" data-error="Contact Number should be of format 1234-1234567 or 123-12345678"/>
          <p class="text-danger" th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></p>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="travelHistory">Travel History?</label>
          <select th:field="*{travelHistory}" id="travelHistory" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('travelHistory')}"
             th:errors="*{travelHistory}"></p>
        </div>
        <div class="form-group">
          <label for="contactHistory">Contact History?</label>
          <select th:field="*{contactHistory}" id="contactHistory" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('contactHistory')}"
             th:errors="*{contactHistory}"></p>
        </div>

        <div class="form-group">
          <label for="fever">Fever?</label>
          <select th:field="*{fever}" id="fever" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('fever')}"
             th:errors="*{fever}"></p>
        </div>
        <div class="form-group">
          <label for="cough">Cough?</label>
          <select th:field="*{cough}" id="cough" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('cough')}"
             th:errors="*{cough}"></p>
        </div>
        <div class="form-group">
          <label for="shortnessOfBreath">Shortness Of Breath?</label>
          <select th:field="*{shortnessOfBreath}" id="shortnessOfBreath" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('shortnessOfBreath')}"
             th:errors="*{shortnessOfBreath}"></p>
        </div>
        <div class="form-group">
          <label for="suspectStable">Suspect Stable? (Fever/Cough without shortness of breath)</label>
          <select th:field="*{suspectStable}" id="suspectStable" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('suspectStable')}"
             th:errors="*{suspectStable}"></p>
        </div>

        <div class="form-group">
          <label for="recommendation">Recommendations</label>
          <select th:field="*{recommendation}" id="recommendation" class="form-control">
            <option value="Stable and discharged">Stable and discharged</option>
            <option value="Isolation at Home">Isolation at Home</option>
            <option value="Refer to Hospital">Refer to Hospital</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('recommendation')}"
             th:errors="*{recommendation}"></p>
        </div>
        <div class="form-group">
          <label for="nameOfHospital">Name of Hospital If Referred</label>
          <input type="text" placeholder="Name of Hospital if Referred" class="form-control" th:field="*{nameOfHospital}" id="nameOfHospital" maxlength="255" data-error="Name of Hospital Length should be Between 0-255"/>
          <p class="text-danger" th:if="${#fields.hasErrors('nameOfHospital')}" th:errors="*{nameOfHospital}"></p>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="enteredByName">Entered By Name</label>
          <input required="true" type="text" placeholder="Name of Hospital if Referred" class="form-control" th:field="*{enteredByName}" id="enteredByName" maxlength="40" data-error="Name of Hospital Length should be Between 0-40"/>
          <p class="text-danger" th:if="${#fields.hasErrors('enteredByName')}" th:errors="*{enteredByName}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="enteredByContact">Entered By Contact</label>
          <input required="true" type="text" placeholder="Entered By Contact" class="form-control" th:field="*{enteredByContact}" id="enteredByContact" maxlength="40" data-error="Contact should be valid"/>
          <p class="text-danger" th:if="${#fields.hasErrors('enteredByContact')}" th:errors="*{enteredByContact}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="remarks">Remarks</label>
          <input type="text" placeholder="Remarks" class="form-control" th:field="*{remarks}" id="remarks" maxlength="255" data-error="Remarks"/>
          <p class="text-danger" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></p>
          <div class="help-block with-errors"></div>
        </div>

      </div>
      <div class="box-footer">
        <button id="submit" type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<script layout:fragment="custom-script" th:inline="javascript">

  $(document).ready(function () {
    $('#myform').validator()
  });

  $(document).ready(function() {
    $('#contactNumber').mask('000Z-0000000Z', {placeholder: "____-_______", translation: {
        'Z': {
          pattern: /[0-9]/, optional: true
        }
    }});
  });
  // https://stackoverflow.com/questions/48538692/thymeleaf-checkboxes-with-objects-list-from-database
</script>
</body>
</html>