<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Jamati-Member Registration</title>
</head>
<body>
<section layout:fragment="header">
  <h1>Jamati-Member Registration</h1>
  <ol class="breadcrumb">
    <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Jamati-Member Registration</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Form</h3>
      <div class="box-tools pull-right">
        <a th:href="@{/{urlPath}(urlPath=${urlPath})}" type="button" class="btn btn-box-tool"><i
          class="fa fa-list-ul"></i></a>
      </div>
    </div>
    <form data-toggle="validator" role="form" th:object="${data}"
          th:action="@{/__${urlPath}__/save}" method="post" id="myform">
      <div class="box-body">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <input type="hidden" th:field="*{createdBy}"/>
        <input type="hidden" th:field="*{createdOn}"/>
        <input type="hidden" th:field="*{createdDate}"/>
        <input type="hidden" th:field="*{uuid}"/>


        <div class="form-group">
          <label for="cnic">CNIC</label>
          <input type="text" required="true" class="form-control" th:field="*{cnic}" pattern="(^\d{5}-\d{7}-\d{1}$)|(^o[a-zA-Z0-9-]{0,17}$)" placeholder="12345-1234567-1"
                 id="cnic" title="This is an error message" data-error="CNIC should be of format 12345-1234567-1"/>
          <p class="text-danger" th:if="${#fields.hasErrors('cnic')}"
             th:errors="*{cnic}"></p>
          <p class="text-danger" th:if="${cnicError} != null"
             th:text="${cnicError}"></p>
          <div class="help-block with-errors"></div>
          <p class="text-danger" id="cnicErrorText" hidden="true"></p>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" required="true" class="form-control" th:field="*{name}" maxlength="30" minlength="3"
                 placeholder="Enter Name" id="name" data-error="Name should be between 4 and 30 characters."/>
          <p class="text-danger" th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select th:field="*{gender}" id="gender" class="form-control">
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('gender')}"
             th:errors="*{gender}"></p>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Date Of Birth</label>
          <input type="text" required="true" class="form-control" th:field="*{dateOfBirth}"
                 id="dateOfBirth" placeholder="dd/mm/yyyy"/>
          <p class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
             th:errors="*{dateOfBirth}"></p>
        </div>
        <div class="form-group">
          <label for="residentialAddress">Residential Address</label>
          <input type="text" placeholder="Residential Address" required="true" class="form-control" th:field="*{residentialAddress}" id="residentialAddress" maxlength="255" data-error="Address Length should be Between 0-255"/>
          <p class="text-danger" th:if="${#fields.hasErrors('residentialAddress')}" th:errors="*{residentialAddress}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input type="text" placeholder="Contact Number" required="true" class="form-control" th:field="*{contactNumber}" id="contactNumber" pattern="^\d{4}-\d{7}|\d{3}-\d{8}$" data-error="Contact Number should be of format 1234-1234567 or 123-12345678"/>
          <p class="text-danger" th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="jk">Jamatkhana</label>
          <select th:field="*{jamatkhana}" id="jk" class="form-control">
            <option th:each="jamatkhana : ${jks}"
                    th:value="${jamatkhana.id}"
                    th:text="${jamatkhana.name}">
            </option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('jamatkhana')}"
             th:errors="*{jamatkhana}"></p>
        </div>

        <div class="form-group">
          <label for="visitedDoctorForCheckup">In the last 12 months have you visited doctor / hospital for medical checkup?</label>
          <select th:field="*{visitedDoctorForCheckup}" id="visitedDoctorForCheckup" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('visitedDoctorForCheckup')}"
             th:errors="*{visitedDoctorForCheckup}"></p>
          <p class="text-danger" id="healthFacilitiesRequiredError" hidden="true">Health Facilities Should be Selected Below Before Moving Forward</p>
        </div>

        <div class="form-group" id="mca" th:hidden="${data.visitedDoctorForCheckup}==0">
          <label>If yes, type of facility accessed? (Multiple Selection)</label>
          <div class="checkbox" th:each="hf : ${healthFacilities}">
            <label th:for="${hf.name}">
              <input th:id="${'hf'+hf.name}" th:classappend="${data.visitedDoctorForCheckup}==1? 'visitDoctorRequired': ''" type="checkbox" th:checked="${#sets.contains(data.healthFacilities,hf)}" name="healthFacilities" th:value="${hf.id}">
              <span th:text="${hf.name}"></span>
            </label>
          </div>
        </div>

        <div id="HF-OTHER" class="form-group" hidden="true">
          <label for="otherMedicalFacilityAccessed">If Other Medical Facilities Accessed</label>
          <input type="text" placeholder="Other Medical Facilities Accessed" class="form-control" th:field="*{otherMedicalFacilityAccessed}" id="otherMedicalFacilityAccessed" maxlength="15" data-error="otherMedicalFacilityAccessed should be between 0-15"/>
          <p class="text-danger" th:if="${#fields.hasErrors('otherMedicalFacilityAccessed')}" th:errors="*{otherMedicalFacilityAccessed}"></p>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label>Have you been diagnosed, hospitalized or prescribed medicine for any disease? (Tick where appropriate)</label>
          <div class="checkbox" th:each="ds : ${diseases}">
            <label th:for="${ds.name}">
              <input th:id="${ds.name}" type="checkbox" th:checked="${#sets.contains(data.diseases,ds)}" name="diseases" th:value="${ds.id}">
              <span th:text="${ds.name}"></span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="insuranceCoverage">Do you have health insurance coverage?</label>
          <select th:field="*{insuranceCoverage}" id="insuranceCoverage" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('insuranceCoverage')}"
             th:errors="*{insuranceCoverage}"></p>
          <p class="text-danger" id="insuranceRequiredError" hidden="true">Self or Employer Insurance Should be Selected Below Before Moving Forward</p>
        </div>
        <div class="form-group" id="hic" th:hidden="${data.insuranceCoverage}==0">
          <label>Insurance Coverage Details</label>
          <div class="checkbox">
            <label for="selfInsurance"><input id="selfInsurance" th:classappend="${data.insuranceCoverage}==1? 'insuranceRequired': ''" type="checkbox" th:field="*{selfInsuranceCoverage}" /> Self Insurance Coverage
            </label>
          </div>
          <div class="checkbox">
            <label for="employerInsuranceCoverage"><input id="employerInsuranceCoverage" th:classappend="${data.insuranceCoverage}==1? 'insuranceRequired': ''"  type="checkbox" th:field="*{employerInsuranceCoverage}" /> Employer Insurance Coverage
            </label>
          </div>
        </div>

        <div class="form-group">
          <label>Do you have any of following disabilities?</label>
          <div class="checkbox">
            <label for="BLIND"><input id="BLIND" type="checkbox" value="BLIND" name="disability" th:checked="${#sets.contains(data.disability,'BLIND')}" /> Blindness
            </label>
          </div>
          <div class="checkbox">
            <label for="HEARING"><input id="HEARING" type="checkbox" value="HEARING" name="disability" th:checked="${#sets.contains(data.disability,'HEARING')}" /> Hearing Difficulty
            </label>
          </div>
          <div class="checkbox">
            <label for="AMPUTATION"><input id="AMPUTATION" type="checkbox" value="AMPUTATION" name="disability" th:checked="${#sets.contains(data.disability,'AMPUTATION')}" /> Amputation
            </label>
          </div>
          <div class="checkbox">
            <label for="DIS-OTHER"><input id="DIS-OTHER" type="checkbox" value="OTHER" name="disability" th:checked="${#sets.contains(data.disability,'OTHER')}" /> Others
            </label>
          </div>
          <span id="otherDisabilitySpan" hidden="true">
            <label for="name">Other Disability</label>
            <input type="text" class="form-control" th:field="*{otherDisability}" maxlength="20" minlength="4"
                   placeholder="Other Disability" id="otherDisability" data-error="If Others is Selected, this is Required"/>
            <p class="text-danger" th:if="${#fields.hasErrors('otherDisability')}"
               th:errors="*{otherDisability}"></p>
            <div class="help-block with-errors"></div>
          </span>
        </div>

        <div class="form-group">
          <label for="smoke">Do you smoke?</label>
          <select th:field="*{smoke}" id="smoke" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <p class="text-danger" th:if="${#fields.hasErrors('smoke')}"
             th:errors="*{smoke}"></p>
        </div>
      </div>
      <div class="box-footer">
        <button id="submit" type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<script layout:fragment="custom-script" th:inline="javascript">

  $(document).ready(function () {
    $('#myform').validator()
  });

  $(document).ready(function() {
    $('#DIS-OTHER').click(function() {
      if( $(this).is(':checked')) {
        $("#otherDisabilitySpan").show();
        $('#otherDisabilitySpan').attr('required', '');
      } else {
        $("#otherDisabilitySpan").hide();
        $('#otherDisabilitySpan').removeAttr('required');
        $('#otherDisability').val('');
      }
    });
  });

  $(document).ready(function() {

    var cnicMaskOptions = {
      placeholder: "_____-_______-_",
      onKeyPress: function(cep, e, field, options) {
        var masks = ['Z00000-0000000-0', 'oAAAAAAAAAAAAAA'];
        var toApplyMask = cep.startsWith("o") ? masks[1] : masks[0];
        $("#cnic").mask(toApplyMask, cnicMaskOptions);
      },
      translation: {
        'Z': {
          pattern: /[o]/, optional: true
        }
      }
    };

    $('#cnic').mask('Z00000-0000000-0', cnicMaskOptions);
    $('#contactNumber').mask('000Z-0000000Z', {placeholder: "____-_______", translation: {
        'Z': {
          pattern: /[0-9]/, optional: true
        }
    }});
    $("#dateOfBirth").mask('00/00/0000');

    if($('#hfOthers').is(':checked')) {
      $("#HF-OTHER").show();
    }

    $('#hfOthers').click(function() {
      if($(this).is(':checked')) {
        $("#HF-OTHER").show();
        $("#HF-OTHER").attr('required', '');
      } else {
        $("#HF-OTHER").hide();
        $('#HF-OTHER').removeAttr('required');
        $('#otherMedicalFacilityAccessed').val('');
      }
    });

    $("#visitedDoctorForCheckup").on('change', function() {
      var e = this;
      var className = 'visitDoctorRequired';
      // console.log($(e).val())
      if ($(e).val() == "1") {
        $('#mca').show();
        $("#mca > div > label > input").each(function(hosp, index) {
          $(index).addClass(className);
        });
      } else {
        $('#mca').hide();
        $("#mca > div > label > input").each(function(hosp, index) {
          $(index).attr('checked', false);
          $(index).removeClass(className);
        });
        $("#HF-OTHER").hide();
        $('#HF-OTHER').removeAttr('required');
        $('#otherMedicalFacilityAccessed').val('');
      }
    });

    $("#insuranceCoverage").on('change', function() {
      var e = this;
      var className = 'insuranceRequired';
      // console.log($(e).val())
      if ($(e).val() == "1") {
        $('#hic').show();
        $("#hic > div > label > input").each(function(hosp, index) {
          $(index).addClass(className);
        });
      } else {
        $('#hic').hide();
        $("#hic > div > label > input").each(function(hosp, index) {
          $(index).attr('checked', false);
          $(index).removeClass(className);
        });
      }
    });

    var date = new Date();

    $("#dateOfBirth").datepicker({
      format: "dd/mm/yyyy",
      startView: 3,
      todayHighlight: true,
      endDate: "0d",
      startDate: '-120y'
    });

    $('#myform').on('submit', function(e) {
      $('#submit').attr('disabled', true);
      $('#insuranceRequiredError').hide();
      $('#healthFacilitiesRequiredError').hide();
      if($(".visitDoctorRequired").length > 0 && $(".visitDoctorRequired:checkbox:checked").length < 1) {
        $('#healthFacilitiesRequiredError').show();
        $('#submit').attr('disabled', false);
        return false;
      }
      if($(".insuranceRequired").length > 0 && $(".insuranceRequired:checkbox:checked").length < 1) {
        $('#insuranceRequiredError').show();
        $('#submit').attr('disabled', false);
        return false;
      }
      return true;
      // Return True if there is no element with this class, or if there are elemennts so at least onen element should be checked
    });

    $("#cnic").on('blur', function() {
      var e = $(this);
      var cnicNumber = e.val();
      var pattern = e.attr('pattern');
      var regex = new RegExp(pattern);
      var isCnicValid = regex.test(cnicNumber);
      if (isCnicValid) {
        $.ajax({
          url: "cnic",
          type: "get", //send it through get method
          data: {
            cnic: cnicNumber
          },
          success: function(response) {
            var size = response.length;
            var sameId = 0;
            var documentId = $("#id").val();
            var person;
            response.forEach(function(item) {
              if(item.id.toString() === documentId) {
                sameId++;
              } else {
                person = item;
              }
            });

            var submitButton = $("#submit");
            var cnicErrorText = $("#cnicErrorText")
            if(size-sameId > 0) {
              submitButton.attr('disabled', true);
              cnicErrorText.attr('hidden', false);
              cnicErrorText.text("Person Exist with Form # " + person.id + " Name: " + person.personName + " Jamatkhana: " + person.jamatkhana.name);
            } else {
              submitButton.attr('disabled', false);
              cnicErrorText.attr('hidden', true);
            }
          }
        })
      }
    });

  });
  // https://stackoverflow.com/questions/48538692/thymeleaf-checkboxes-with-objects-list-from-database
</script>
</body>
</html>