<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Person</title>
</head>
<body>
<section layout:fragment="header">
  <h1>Person</h1>
  <ol class="breadcrumb">
    <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Person</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Lists</h3>
      <div class="box-tools pull-right">
        <a th:href="@{/{urlPath}/add(urlPath=${urlPath})}" type="button" class="btn btn-box-tool"><i
          class="fa fa-plus"></i></a>
        <br clear="all"/>
      </div>
    </div>

    <div class="box-body no-padding">
      <table id="myDataTable" class="table table-striped">
        <thead>
          <th>ID</th>
          <th>Last Status</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Local Council</th>
          <th>Last Updated</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr th:each="row : ${list}">
            <td th:text="${row.id}"></td>
            <td th:text="${row.lastStatus}"></td>
            <td th:text="${row.name}"></td>
            <td th:text="${row.gender}"></td>
            <td th:text="${row.jamatkhana.name}"></td>
            <td th:text="${row.updatedOn}"></td>
            <td>
              <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/{urlPath}/edit/{rowId}(urlPath=${urlPath}, rowId=${row.id})}"><button class="btn btn-default">Edit</button></a>
              <a sec:authorize="!hasAuthority('ADMIN')" th:if="${#temporals.createNow().minusDays(1).minusHours(4) < row.createdOn}" th:href="@{/{urlPath}/edit/{rowId}(urlPath=${urlPath}, rowId=${row.id})}"><button class="btn btn-default">Edit</button></a> -
              <a sec:authorize="hasAuthority('LEAD')" th:href="@{/{urlPath}/{rowId}/updates/add(urlPath=${urlPath}, rowId=${row.id})}"><button class="btn btn-primary">Add Updates</button></a> -
              <a sec:authorize="hasAuthority('LEAD')" th:href="@{/{urlPath}/{rowId}/updates(urlPath=${urlPath}, rowId=${row.id})}"><button class="btn btn-default">View Updates</button></a> -
              <form sec:authorize="hasAuthority('ADMIN')" th:object="${row}" th:action="@{/{urlPath}/delete/{rowId}(urlPath=${urlPath}, rowId=${row.id})}" th:method="delete" style="display: inline" onsubmit="return (confirm('Sure your want to delete this entry?'))">
                <input class="btn btn-danger" style="cursor: pointer" type="submit" value="Delete" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />

  </div>
</div>
<script layout:fragment="custom-script" th:inline="javascript">
  $(document).ready(function(){
    console.log("hip Hip hurray");
  });

  $(document).ready(function () {
    $('#myDataTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>
</body>
</html>